/* ============================= RESET ============================= */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========================== GOOGLE FONTS Y COLOR DE FUENTE ========================= */

.gfonts {
    font-family: 'Montserrat', sans-serif;
}

body{
    color: black;
}

/* ========================== LAYOUT GRIDS ========================== */

#grid__container{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

@media screen and (min-width:1024px) {
    #grid__container{
        grid-template-rows: 70px auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
}

/* ========================== HEADER Y NAV ========================== */

@media screen and (min-width:1024px) {
    #header {
        width: 100%;
        background-color: bisque;
        box-shadow: 0px 3px 10px black;
        position: sticky;
        top: 0;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: header;
        z-index: 99999;
    }
    
    .header__logo{
        height: 100px;
        width: 150px;
    }
    
    .header__nav ul{
        font-weight: bold;
        font-size: 15px;
        margin: 0;
    }
    
    .header__nav ul li{
        display: inline-block;
    }
    
    .header__nav ul li a{
        color: black;
        border: 5px solid rgb(225, 188, 144);
        border-radius: 10px;
        padding: 3px;
        margin: 0px 10px;
        font-size: 14px;
    }
    .header__nav ul li a:hover{
        background: rgb(225, 188, 144);
    }    
    
}


@media screen and (max-width:1023px) {
    #header{
        background-color: bisque;
        box-shadow: 0px 3px 10px black;
        top: 0;
        padding: 0px;
        grid-area: header;
        z-index: 99999;
    }
    .header__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 150px;
    }
    .header__nav{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .header__nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid white;
        background-color: rgb(225, 188, 144);
    }
    .header__nav ul li a{
        display: block;
        color: black;
        padding: 3px;
        margin: 0px 10px;
    }
    .header__nav ul li a:hover{
        background: bisque;
        font-weight: bold;
    }   
}


/* ========================== MAIN Y INDEX ========================== */

#main{
    padding: 10px;
    display: block;
    grid-area: main;
    background-image: linear-gradient(to bottom,rgb(214, 165, 104),rgb(225, 188, 144));
}

#main h1{
    display: block;
    text-align: center;
    letter-spacing: 8px;
    font-size: 1cm;
    font-weight: bold;
}

#main article h4{
    font-size: 30px;
    font-weight: bold;
    border-top: 5px solid bisque;
    padding-top: 10px;
}

.main__noticia--left{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.main__noticia--right{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

iframe{
    border: 3px solid bisque;
    display: block;
    width: auto;
    margin: 3px 3px 3px 0px;
}

.main__noticiaImg{
    border: 3px solid bisque;
    display: block;
    height: 100%;
    width: 100%;
    margin: 3px 3px 3px 0px;
}


@media screen and (min-width:769px) {
    .main__noticia--left{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 5px;
    }
    .main__noticia--left p{
        width: 50%;
        height: 50%;
    }
    .main__noticia--right{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 5px;
    }
    .main__noticia--right p{
        width: 50%;
        height: 50%;
    }
    iframe{
        border: 3px solid bisque;
        display: block;
        height: auto;
        width: 50%;
        margin: 3px 3px 3px 0px;
    }
    .main__noticia--right .main__noticiaImg{
        border: 3px solid bisque;
        display: block;
        height: 50%;
        width: 50%;
        margin: 3px 3px 3px 0px;
    }
}

/* ========================== QUIENES SOMOS ========================== */


#main article h1{
    display: block;
    text-align: center;
    letter-spacing: 8px;
    font-size: 30px;
}

.main__somos{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 5px;
    margin: 0px;
}

.main__somos--tituloUnidad{
    display: block;
    text-align: center;
    font-weight: bold;
}

.main__somosImg{
    height: 100%;
    width: 100%;
    border: 3px solid bisque;
}

@media screen and (min-width:769px) {
    #main article h1{
        display: block;
        text-align: center;
        letter-spacing: 4px;
        font-size: 1cm;
    }
    
    .main__somos{
        display: block;
        text-align: center;
        font-size: 25px;
        padding: 5px;
        margin: 5px;
    }

    .main__somosUnidad{
        border: 3px solid bisque;
        border-radius: 10px;
        display: block;
        text-align: center;
        font-size: 25px;
        padding: 5px;
        margin: 5px;
    }
    
    .main__somosDiv{
        display: flex;
        justify-content: space-around;
    }

    .main__somosImg{
        height: 50%;
        width: 50%;
        border: 3px solid bisque;
        margin: 3px 3px 3px 0px;
        display: block;
    }
    
    .main__somos--tituloUnidad{
        display: block;
        text-align: center;
        margin-left: 5px;
        font-size: 30px;
    }
}


/* ========================== SOLICITUDES ========================== */

#main .main__form section p{
    display: block;
    text-align: center;
    margin-top: 20px;
}

#main .main__form h2{
    display: block;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main__form--formulario{
    border: 3px solid bisque;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main__form--formulario legend{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.main__form--formulario label{
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    padding-bottom: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.main__form--formularioInput{
    margin-right: 20px;
    border: 3px solid bisque;
    background-color: white;
    cursor: pointer;
    width: 25%;
}

.main__form--formulario p{
    font-weight: bold;
    font-size: auto;
    padding-bottom: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.main__form--gracias{
    display: block;
    margin-top: 10px;

}

@media screen and (max-width:1023px) {
    .main__form--formulario label{
        display: block;
    }
    .main__form--formularioInput{
        width: 100%;
    }
}
/* ========================== PRESENTACIONES ========================== */

.main__presentaciones{
    background-color: bisque;
}

.main__presentacionesTitulo{
    display: flex;
}


/* ========================== REDES ========================== */

.main__redes{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.main__redes--titulo{
    border-bottom: 3px solid bisque;
    display: inline;
    font-weight: bold;
}

.main__redes p{
    display: inline-block;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    border-bottom: 3px solid bisque;
}

.main__redes a img{
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .main__redes{
        display: flex;
        align-items: center;
    }

    .main__redes--titulo{
        display: block;
        text-align: center;
        font-size: 22px;
    }
}

/* ========================== FOOTER ========================== */

#footer{
    background-color: bisque;
    padding: 10px;
    display: flex;
    grid-area: footer;
    box-shadow: 0px 3px 10px black;
    justify-content: space-between;
}

.footer__navLeft{
    display: flex;
    flex-direction: column;
}

.footer__navLeft h4{
    font-weight: bold;
}

.footer__navLeft--menu{
    text-align: start;
}

.footer__navLeft--menu ul{
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.footer__navLeft--menu ul li a{
    color: black;
    font-size: 15px;
}

.footer__navLeft--menu ul li a:hover{
    font-weight: bold;
}

.footer__navRight{
    display: flex;
    flex-direction: column;
}

.footer__navRight h4{
    font-weight: bold;
}

.footer__navRight--redes{
    text-align: end;
}

.footer__navRight--redes ul{
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.footer__navRight--redes ul li a{
    color: black;
    font-size: 15px;
}

.footer__navRight--redes ul li a img{
    height: 30px;
    width: 30px;
}